.detailContainer {
  display: flex;
  flex: 3;
  background-color: rgb(150,150,150);
  justify-content: center;
  padding-top: 40px;
}

.detailContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noteContentContainer {
  margin-bottom: 20px;
}

.input {
  height: 20px;
  background-color: rgb(200,200,200);
  padding: 8px;
  border-radius: 8px;
}

.fileInput {
  margin-top: 20px;
}

.noteImage {
  margin-top: 20px;
}